<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="h-screen w-screen">
        <div class="container h-screen mx-auto justify-center items-center md:p-0 py-6">
            <table class="table">
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>
                        <h1 class="title is-4">NIPS 2016 Tutorial: Generative Adversarial Networks</h1>
                        <p>Authors: Ian Goodfellow</p>
                        <p>Abstract: This report summarizes the tutorial presented by the author at NIPS 2016 on generative adversarial networks (GANs). The tutorial describes: (1) Why generative modeling is a topic worth studying, (2) how generative models work, and how GANs compare to other generative models, (3) the details of how GANs work, (4) research frontiers in GANs, and (5) state-of-the-art image models that combine GANs with other methods. Finally, the tutorial contains three exercises for readers to complete, and the solutions to these exercises.</p>
                    </td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>
                      Qualification for the
                      <a
                        href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
                        title="2016–17 UEFA Champions League"
                        >Champions League group stage</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <th>7</th>
                    <td>
                      Qualification for the
                      <a
                        href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Third_qualifying_round"
                        title="2016–17 UEFA Europa League"
                        >Europa League third qualifying round</a
                      >
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>